.tableContainer{
    width: 100%;
    height: 100%;
    display: flex;
    justify-self: start;
    align-items: self-start;
    overflow: auto;
}
.statusTable{
    width: 100%;
    
}
.statusTable th{
    border: none;
}
.statusTable td{
    text-align: center;
    background-color: #d2ffe2;
    border: none;
    
   
}
.statusTable a{
    text-decoration: none;
    font-style: italic;
}
.statusTable a:hover{
    text-decoration: underline;
}
.successMsg{
    display: flex;
    justify-content: center;
    align-items: center;
    color: green;
    font-style: italic;
    user-select: none;
}